[submodule "path_to_submodule"] 
  path = _target/deps/mathlib 
  url = git://github.com/leanprover-community/mathlib/
[submodule "_target/deps/mathlib"]
	path = _target/deps/mathlib
	url = https://github.com/leanprover-community/mathlib
